<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/shoppingcart.css">
    
    <title>Shopping Cart</title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <h2 class="titulo-cart">Tu Carrito</h2>

        <div class="container">
            <div class="image">
                <img src="" alt="">
                <h3>titulo</h3>
                <h3>precio</h3>
                <a class="addToCart cart1" href="#">Add To Cart</a>
                <input type="hidden" value="15">
            </div>
        </div>
        
    </main>

    <%- include('../partials/footer') %>
   
</body>
</html>