header div.logo{
    margin-top: 30px;
    
}

.top-header { 
    width: auto;
    height: auto;
    text-align:center;
  }
  
img{
    width: 13%;
}

main{
    
    width: 100%;
   
}

.camposLogin { 
    display: flex;
    flex-direction: column;
    text-align:certer;
    margin : 20px 50px 3px 50px;
    padding: 20px 300px 20px 300px;
    align-items: center;
    
  }

  .submitButton{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-right: 250px;
    align-items: center;

     
  } 

  button{
    
    background-color: #eba917;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 110px;
        
  }

  

   ::placeholder{
    font-size: smaller;
    font-style: italic;
  }
  input:focus { 
    outline: none ;
    border-color: #eba917;
    box-shadow: 0 0 2px #eba917;
  }

 