/* NAV BAR CSS */
* 

{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.topbar{
  background-color: #001845;
  height: 3vh;
  
 
}
.top-header { 
    width: auto;
    font-size: small;
    font-weight: bold;
    ;
    
  }

  .profile-img{
    border-radius: 50%;
    width: 30%;
}

  img{
    width: 100%;
  }


  .menu{
    background-color: #e6e9ef;
    height: 10hv;
    box-sizing: border-box;
    display: flex;
    padding: 8px  ;
    justify-content: space-between;
  }

  .logo {
    text-align: center;
  }
  .left-navbar {
    display: flex;
    width: 40vh;
    justify-content: space-between;
    align-items:center;
    
  }

  .right-navbar
  {
    display: flex;
    width: 40vh;
    justify-content: space-between;
    align-items:center;
    
  }
.imagenlogo{
  max-width: 100%;
  max-height: 100%;
  width: 60%;
}


  a:link {
    color: #001845;
    background-color: transparent;
    text-decoration: none;
  }


/*Burger menu*/
.menu-btn{
  position: relative;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn-burger{
  width: 20px;
  height: 5px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all .5s ease-in-out;
  }

.menu-btn-burger::before,.menu-btn-burger::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all .5s ease-in-out;
}

.menu-btn-burger::before{
  transform: translateY(-8px);
}

.menu-btn-burger::after{
  transform: translateY(8px);
}
/*cierro burger menu*/

/*animacion*/
.open .menu-btn-burger{
  transform:translateX(-50px);
  background:transparent;
  box-shadow: none;
}

.open .menu-btn-burger::before{
  transform: rotate(45deg) translate(35px,-35px);
}

.open .menu-btn-burger::after{
  transform: rotate(-45deg) translate(35px,35px);
}
/*cierra animacion */

/*menu desplegable*/

#btn-menu{
  display: none;
}

#label{
  display: block;
  width: 30px;
  height: 30px;
  padding: 10px;
  
}
#label:hover{
  cursor: pointer;
}

.menu-desplegable{
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  flex-direction: column;
  width: 40%;
  margin-left: -72%;
  transition: all 0.6s;
  z-index: 1;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.menu-desplegable li{
  background: #979dac;
  color: white;
  padding: 20px 0 20px 3px;
  border-top: 1px solid white;
  border-bottom: 1px solid white
}

.menu-desplegable li:hover{
  background-color: white
  ;}
  
#btn-menu:checked ~ .menu-desplegable{
  margin: -1%;
}

/*fin menu desplegable*/

ul{
  list-style: none;
  display: flex;


}

.center-navbar{
  display: none;
}

.submit1{
  background-color: #001845;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  color: rgb(206, 204, 204);
  transition: border-radius 0.5s; 
  padding: 6px 6px;
  margin-top: 3px;
}

.titulo {
  text-align: center;
  color:#001845;
}

body{
    background-color: rgb(228, 228, 228) ;
}

header div.logo{
    margin-top: 30px;
}

.top-header { 
    width: auto;
    height: auto;
    text-align:center;
    font-size: small;
    font-weight: bold;
    ;
    
  }

img{
    width: 10%;
}


main{
  
  margin: 10px;
  background-color: white;
}
.camposLogin { 
    
    
    text-align:center;
    /*margin : 20px 50px 3px 50px;*/
    font-size: small;
    font-weight: bold;
   

  }

  ::placeholder{
    font-size: smaller;
    font-style: italic;
  }
  input:focus { 
    outline: none ;
    border-color: #eba917;
    box-shadow: 0 0 2px #eba917;
  }

 

 .camposlogin.p{
  font-size: 7;
  font-style: italic;
}


button{
    background-color: #001845;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    color: rgb(206, 204, 204);
    transition: border-radius 0.5s;
  }

  button:hover {
    border-radius: 15px;
  } 



  /*.linkLogin{
      margin: 10px;
      padding: 20px 300px 20px 360px;
      margin-left: 30px;
  }*/

  .is-invalid{
    color: red;
  }


  .submitDelete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    
  }

  .submit {
    margin-right: 18px;
    margin-bottom: 10px;
  }

 
  /* FOOTER */
footer {
 /*position:absolute;*/
 bottom:0;
 width:100%;
 height: 100px;
 background-color: #979dac;
 box-sizing: border-box;
 display: flex;

}

a.linkfooter:link
{
 color:white;
 font-weight: normal;
}


.fa-youtube, .fa-map-marker-alt, .fa-instagram, .fa-facebook-square {
 color: white;
}


.contacto {
 background-color: #979dac ;
 display: flex;
 flex-wrap : wrap;
 flex-direction: column;
 color: white;
 font-weight: bold;
 width: fit-content;
 margin-left: 20px;
 margin-right: 20px;
 font-size: smaller;
 justify-content: center;
}


.acerca {
 display: none;
}

.servicios {
 display: none;
}

.socialmedia {
 
   display: flex;
   width: 40vh;
   justify-content: space-between;
   align-items:center;
   margin-left: auto;
   color: white;
       
 }


 @media (min-width: 1024px){
  .center-navbar {
      display: flex;
      justify-content: space-between;
      align-items:center; 
      font-size: medium;
      flex-grow: 0.8;
      padding-right: 10px;
    }
    
    .navlinks {
      padding-right: 10px;
      margin-right: 5px;
    }

  .menu-btn, menu-desplegable, #btn-menu,#label
  {
    display: none;
  }

  .acerca{
      background-color: #979dac ;
      display: flex;
      flex-wrap : wrap;
      flex-direction: column;
      justify-content: center;
      color: white;
      width: fit-content;
      margin-right: 20px;
      font-size: smaller;
      font-weight: bold;
  }

  .servicios{
      background-color: #979dac ;
      display: flex;
      flex-wrap : wrap;
      flex-direction: column;
      color: white;
      width: fit-content;
      font-size: smaller;
      margin-right: 20px;
      justify-content: center;
      font-weight: bold;
  }
  
}
