*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

/* Nav Bar */

.top-header { 
  width: 100%;
  font-size: 0.8rem;;
  font-weight: bold;
}

.profile-img{
  border-radius: 50%;
  width: 30%;
}

.topbar{
  background-color: #001845;
  height: 3vh;
}

.menu{
  background-color: #e6e9ef;
  height: 10hv;
  box-sizing: border-box;
  display: flex;
  padding: 8px  ;
  justify-content: space-between;
}

.left-navbar {
  display: flex;
  width: 40vh;
  justify-content: space-between;
  align-items:center;
}

div.burger-menu{
  text-align: center;
}

div.burger-menu i{
  border-radius: 5px;
  color: black;
  font-size: 30px;
  display: block;
  height: 25px;
  margin: auto;
  padding: 10px;
  width: 40px; 
}

.logo {
  text-align: center;
}

.imagenlogo{
  max-width: 100%;
  max-height: 100%;
  width: 60%;
}

.center-navbar{
  display: none;
}
  
.right-navbar{
  display: flex;
  width: 40vh;
  justify-content: space-between;
  align-items:center;
}

div.right-navbar i{
  border-radius: 5px;
  color: black;
  font-size: 30px;
  display: block;
  height: 25px;
  margin: auto;
  padding: 10px;
  width: 40px;
}

a:link{ 
  color: black;
  background-color: transparent;
  text-decoration: none;
}

ul{
  list-style: none;
  display: flex;
}

/* Main */

.cart a{
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding-right: 5px;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

.image:hover .cart1{
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

.add-cart{
  position: absolute;
  width: 100%;
  background-color: black;
  color: black;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}


/* Footer */

footer {
  /*position:absolute;
  bottom: 0rem;*/
  width:100%;
  height: 100px;
  background-color: #979dac;
  box-sizing: border-box;
  display: flex;
  font-size: 0.8rem;
}

a.linkfooter:link{
  color:white;
  font-weight: normal;
}

.contacto {
  background-color: #979dac ;
  display: flex;
  flex-wrap : wrap;
  flex-direction: column;
  color: white;
  font-weight: bold;
  width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  font-size: smaller;
  justify-content: center;
}

.acerca {
  display: none;
}

.servicios {
  display: none;
}  

.socialmedia {
  display: flex;
  width: 40vh;
  justify-content: space-between;
  align-items:center;
  margin-left: auto;
  color: white;    
}
  
.fa-youtube, .fa-map-marker-alt, .fa-instagram, .fa-facebook-square {
  color: white;
}

/*pseudoclases*/
button:hover{
  cursor: pointer;
}

/*media queries*/


/* cart page*/

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.product-header{
  width: 100%;
  min-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid #000;
  margin: auto;
}

.product-title{
  width: 45%;
}

.price{
  width: 15%;
  border-bottom: 4px solid black;
  display: flex;
  align-items: center;
}

.quantity{
  width: 30%;
  border-bottom: 4px solid black;
  display: flex;
  align-items: center;
}

.total{
  width: 15%;
  border-bottom: 4px solid black;
  display: flex;
  align-items: center;
}

.product{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.products-container ion-icon{
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTitale{
  width: 30%;
}

.basketTotal{
  width: 10%;
}