<!DOCTYPE html>
<html lang="en">
    <head>
        
        <%- include('./partials/head') %>

        <link rel="stylesheet" href="/css/home.css">
        <title>The Shoes Company</title>
    
    </head>
    <body>
    
        
        <%- include('./partials/header') %>
   
   
    <main>
        <div class="principal">
               <figure>
                <a href="/products">
                    <img src="/images/products/Zapato home.PNG" alt="zapatohome" class="zapatohome">
                    
                </figure>
            
            
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-right"></i>
        
            <h5 class="coleccion">
                    EXPLORA NUESTRA NUEVA COLECCION
            </h5>

            </div>


            <h5 class="ofertas">
                 POPULAR / OFERTAS
            </h5>
            <div class="contenedor">
                
            <section class = "contenedorimagen">    
               
                <img src="/images/products/ZAPATO 1.PNG" alt="zapatilla 1" class= "imagen"></img>
                <img src="/images/products/ZAPATO 2.PNG" alt="zapatilla 2" class= "imagen">
                <img src="/images/products/ZAPATO 3.PNG" alt="zapatilla 3" class= "imagen" >
                <img src="/images/products/ZAPATO 4.PNG" alt="zapatilla 4" class= "imagen" >
                <img src="/images/products/ZAPATO 5.PNG" alt="zapatilla 4" class= "imagen imagenafuera" >
                <img src="/images/products/ZAPATO 6.PNG" alt="zapatilla 4" class= "imagen imagenafuera" >
            </section>  
        </div>

    </main>

    <%- include('./partials/footer') %>

</body>
</html>