<footer>
    <ul class= "contacto"> CONTACTO
        <li><a class="linkfooter"href="#">Servicio al cliente</a></li>
        <li><a class="linkfooter"href="#">Tiendas</a></li>
        <li><a class="linkfooter"href="#">Reclamos </a></li>
    </ul>
    <ul class= "acerca"> ACERCA DE
        <li><a class="linkfooter"href="#">Nuestra compañia</a></li>
        <li><a class="linkfooter"href="#">Sostenibilidad</a></li>
        <li><a class="linkfooter"href="#">Accionistas </a></li>
       
    </ul>
    <ul class= "servicios"> SERVICIOS
        <li><a class="linkfooter" href="#">Envios nacionales</a></li>
        <li><a class="linkfooter"href="#">Envios internacionales</a></li>
        <li><a class="linkfooter"href="#">Regalos </a></li>
    </ul>
    <ul class= "socialmedia">
        <li><a class="footerlink" href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></i></a></li>
        <li><a href="#"><i class="fab fa-youtube fa-2x"></i></i></a></li>
        <li><a href="#"><i class="fas fa-map-marker-alt fa-2x"></i></a></li>
    </ul>
</footer>