<header>
    <div class = "top-header">
        <div class="topbar"></div>
            <nav class="menu"> 
               
                <div class = "left-navbar">
                    <div class="burger-menu">
                         <i class="fa fa-bars burger"></i>
                    </div>
                    <div class = "logo">
                        <a href="/index">
                            <img class = "imagenlogo" src="/images/LOGO ZAPATO.png" >
                        </a>
                    </div>                   
                </div>

                <ul class= "center-navbar">
                    <li><a href="/products">MUJER</a></li>
                    <li><a href="/products">HOMBRE</a></li>
                    <li><a href="/products">NIÑOS</a></li>
                    <li><a href="/products">DEPORTE</a></li>
                   
                </ul>
                <ul class= "right-navbar">
                    <li><a href="#"><i class="fas fa-search fa-2x"></i></a></li>
                    <li><a href="#"><i class="far fa-heart fa-2x"></i></a></li>
                    <li><a href="/users/login"><i class="far fa-user fa-2x"></i></a></li>
                    <li><a href="/shoppingcart"><i class="fas fa-shopping-cart fa-2x"></i></a></li>
                </ul>

            </nav>
        </div>
    </div>
</header>