<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;386;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Crear cuenta The Shoes Company</title>

</head>
<body>

<header>
    <div class = "top-header">
        <div class = "logo">
            <a href="/index">
             <img src="/images/LOGO ZAPATO.png" >
            </a>
        </div>
        <p>LOGIN</p>
    </div>
</header>

<!---->
<main>
           <form class = "camposLogin" >
                <input type="email" id="username" name="username"  placeholder = "Email" size="30" autofocus> <br><br>
                <input type="password" id="password" name="password" placeholder="Password" size="30"> <br><br>
                <input type="checkbox"> Recordar mi usuario<br><br>
                <div class = "submitButton"enviar>
                    <button type="submit" onclick="alert('formulario enviado ')">Ingresa a tu cuenta </button>
                    <br>
                    <br>
                    <a href="#">Olvide mi contraseña</a> <br><br>
                </div>
          
          
                <div class="linkLogin">
                    <br>
                    <p>No tienes una cuenta ?</p>
                    <a href="/users/register"> ingresa aqui</a> 
                </div>
                
           </form>
           
        
            
         
</main>

</body>
</html>